<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <!-- Colunas do cabeçalho -->
          <th scope="col">Ações</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Matricula</th>
        </tr>
      </thead>
      <tbody>
        <!-- Repetir para cada aluno na disciplina -->
        <tr *ngFor="let alunoDisciplina of alunoDisciplina">
          <td>
            <!-- Botão de ação com dropdown -->
            <div class="drop">
              <button class="btn btn-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i> <!-- Bootstrap ícone -->
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><button class="dropdown-item" (click)="onRemove(alunoDisciplina)">Remover Aluno</button></li>
              </ul>
            </div>
          </td>
          <td>{{ alunoDisciplina.aluno.nome }}</td>
          <td>{{ alunoDisciplina.aluno.sobrenome }}</td>
          <td>{{ alunoDisciplina.aluno.matricula }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
