<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Ações</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Código</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disciplina of disciplinas">
          <td>
            <div class="drop">
              <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><button class="dropdown-item" (click)="onEdit(disciplina)">Editar</button></li>
                <li><div class="dropdown-divider"></div></li>
                <li><button class="dropdown-item" (click)="onRemove(disciplina)">Remover</button></li>
                <li><div class="dropdown-divider"></div></li>
                <li><button class="dropdown-item" (click)="onVincularAluno(disciplina)">Vincular Aluno</button></li>
                <li><div class="dropdown-divider"></div></li>
                <li><button class="dropdown-item" (click)="onRegistrarNota(disciplina)">Registrar Nota</button></li>
              </ul>
            </div>
          </td>
          <td>{{ disciplina.nome }}</td>
          <td>{{ disciplina.codigo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
