mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}


.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-turma {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
