<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">Disciplinas</mat-toolbar>

    <mat-card class="new-disciplina">
      <mat-card-content >
        <button mat-raised-button (click)="onAdd()">
          <mat-icon>add</mat-icon>
          Nova Disciplina
        </button>
      </mat-card-content>
    </mat-card>

    <app-disciplina-list
      *ngIf="disciplina$ | async as disciplina; else loading"
      [disciplina]="disciplina"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (remove)="onRemove($event)"
      (vincularAluno)="onVincularAluno($event)"
    ></app-disciplina-list>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
