<mat-table [dataSource]="turma" class="mat-elevation-z8">

  <!-- Actions Column-->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>

    <mat-cell *matCellDef="let turma">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="onEdit(turma)"
        >
          <span>Editar</span>
        </button>
        <button
          mat-menu-item
          (click)="onRemove(turma)"
        >
          <span>Remover</span>
        </button>
      <button
        mat-menu-item
        (click)="onVincularDisciplina(turma)"
      >
        <span>Vincular Disciplina</span>
      </button>
      </mat-menu>

    </mat-cell>
  </ng-container>

  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let turma"> {{turma.nome}} </mat-cell>
  </ng-container>

  <!-- Codigo Column -->
  <ng-container matColumnDef="nomeAbreviado">
    <mat-header-cell *matHeaderCellDef> Nome Abreviado </mat-header-cell>
    <mat-cell *matCellDef="let turma"> {{turma.nomeAbreviado}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="anoLetivo">
    <mat-header-cell *matHeaderCellDef> Ano Letivo </mat-header-cell>
    <mat-cell *matCellDef="let turma"> {{turma.anoLetivo}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
