<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">Vincular Aluno</mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Aluno</mat-label>
        <select matNativeControl formControlName="aluno">
          <option *ngFor="let aluno of alunos | async" [value]="aluno.id">{{ aluno.nome }}</option>
        </select>
      </mat-form-field>
    </form>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">Listagem de Alunos</mat-toolbar>

    <app-aluno-disciplina-list
      *ngIf="alunoDisciplina$ | async as alunoDisciplina; else loading"
      [alunoDisciplina]="alunoDisciplina"
      (remove)="onRemove($event)"
    ></app-aluno-disciplina-list>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
