<div class="container-fluid">
  <div class="row">
    <div class="col-auto" style="padding-left: 0;">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col">
      <div class="card mt-5">
        <div class="card-body">

          <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Vincular Aluno - {{ nomeDisciplina }} ({{ codigoDisciplina }})</span>
            </div>
          </nav>

          <form [formGroup]="form">
            <div class="mb-3 mt-3">
              <label for="alunoSelect" class="form-label">Aluno</label>
              <select class="form-select" id="alunoSelect" formControlName="aluno">
                <option *ngFor="let aluno of alunos | async" [value]="aluno.id">
                  {{ aluno.matricula }} - {{ aluno.nome }} {{ aluno.sobrenome }}
                </option>
              </select>
            </div>
          </form>

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary me-2" (click)="onSubmit()">Salvar</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
          </div>

        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">

          <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Listagem de Alunos</span>
            </div>
          </nav>

          <app-aluno-disciplina-list
            *ngIf="alunoDisciplina$ | async as alunoDisciplina; else loading"
            [alunoDisciplina]="alunoDisciplina"
            (remove)="onRemove($event)"
          ></app-aluno-disciplina-list>

          <ng-template #loading>
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Carregando...</span>
              </div>
            </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmModal" #confirmModal tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="confirmModalLabel">Confirmação de Remoção</h3>
      </div>
      <div class="modal-body">
        <p class="text-center">Tem certeza de que deseja desvincular esse aluno?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-light" (click)="closeModal()" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmRemoval()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
