<div class="container-fluid">
  <div class="row">
    <div class="col-auto" style="padding-left: 0;">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col">
      <div class="container my-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card shadow-sm">
              <div class="card-body">
                <h1 class="card-title">Bem-vindo ao Portal do Aluno da Diocese de Joinville, {{ alunoNome }}</h1>
                <p class="card-text">{{ saudacao }}! Aqui está o versículo do dia para você:</p>
                <p class="card-text versiculo">{{ versiculoDoDia }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
